<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SwipeUp.swipeUp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/swipeicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/swipeicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.SwipeUp.swipeUp.MainActivity"
            android:label="Swipe Up">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.SwipeUp.swipeUpMenu.SwipeUpMenu"></activity>
        <activity android:name="com.SwipeUp.menu.ChoiceActivity"></activity>

    </application>

</manifest>
